$blue: #6488e5;


.loginWord{
    margin-top: 76px;
    font-size: 40px;
    font-weight: 600;
}

.inputEmail{
    display: block;
    margin:auto;
    margin-top: 56px;
    border:0;
    background-color: #FFF9ED;
    border-bottom: 2px solid #D1D1D6;
    color: #66645f;
    width: 290px;
    outline: none;
    display: flex;
    justify-content: center;
}
.inputEmail::placeholder{
    color: #D1D1D6;
}
.inputPassword{
    display: block;
    margin:auto;
    border:0;
    background-color: #FFF9ED;
    border-bottom: 2px solid #D1D1D6;
    color: #66645f;
    width: 290px;
    outline: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.inputPassword::placeholder{
    color: #D1D1D6;
}
.formItem input:focus{
    border-bottom: 2px solid #66645f;
}

.loginButton{
    display: block;
    margin:auto;
    margin-top: 38px;
    width: 100px;
    height: 36px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    color: white;
    border: none;
    background-color: $blue;
    border-radius: 8px;
    
}

.idMessage{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: medium;
    font-weight: 600;
    color: #66645f;
}

.bottomButton{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.kakaoSignUpButton{
    width: 100px; 
    height: 48px;
    margin-left: 20px;
    margin: auto;
    display: flex;
    align-items: center;
   }

.normalSignUpButton{
    margin-right: 20px;
    width: 100px;
    height: 48px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    color: white;
    border: none;
    background-color: $blue;
    border-radius: 8px;
}

// .loginTotoalDiv{
//     text-align: center;
//     // justify-content: center;
//     // align-items: center;
// }




