
a {
  text-decoration: none;
}
section {
  position: relative;
  width: 100%;
  height: 90vh;
}

.demo #scrolla {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section01{
    position: relative;
    animation: fadeInUp 2s;

  .container01{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

    a{
      margin-bottom: 24px;
    }

    .textbox01{
      margin-right: 40px;
      .subtext01{
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 24px;
      }
      .maintext01{
        font-size: 64px;
        font-weight: 600;
        #ths{
          color: #6488E5;
        }
        #zhffhs{
          color: #90D28A;
        }
        #rjfdma{
          color: #F9BE7D;
        }
      }
    }
    .img01{
      margin-left: 40px;
      height: 400px;
    }
  }
}

#section01 a {
  padding-top: 60px;
  margin: auto;
}

#section02{
  .container02{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    .textbox02{
      margin-left: 40px;
      .subtext02{
        font-size: 32px;
        margin-bottom: 24px;
      }
      .maintext02{
        font-size: 48px;
        font-weight: 600;
      }
      .context02{
        margin-top: 24px;
        p{
          margin-bottom: 8px;
          font-size: 20px;
        }
        a{
          font-size: 16px;
          margin-top: 16px;
        }
      }
    }
    .img02{
      margin-right: 40px;
      height: 400px;
      filter: drop-shadow(5px 5px 5px #99958E);
    }
  }
}

#section03{
  .container03{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    .textbox03{
      margin-right: 40px;
      .subtext03{
        font-size: 32px;
        margin-bottom: 24px;
      }
      .maintext03{
        font-size: 48px;
        font-weight: 600;
      }
      .context03{
        margin-top: 24px;
        p{
          margin-bottom: 8px;
          font-size: 20px;
        }
        a{
          font-size: 16px;
          margin-top: 16px;
        }
      }
    }
    .img03{
      margin-left: 40px;
      height: 400px;
      filter: drop-shadow(5px 5px 5px #99958E);
    }
  }
}

#section03 a {
  padding-top: 60px;
}
#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#section04{
  .container04{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    .textbox04{
      margin-left: 40px;
      .subtext04{
        font-size: 32px;
        margin-bottom: 24px;
      }
      .maintext04{
        font-size: 48px;
        font-weight: 600;
      }
      .context04{
        margin-top: 24px;
        p{
          margin-bottom: 8px;
          font-size: 20px;
        }
        a{
          font-size: 16px;
          margin-top: 16px;
        }
      }
    }
    .img04{
      margin-right: 40px;
      height: 400px;
      filter: drop-shadow(5px 5px 5px #99958E);
    }
  }
}


#section04 a {
  padding-top: 60px;
}
#section04 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

#section05{
  .container05{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    .maintext05{
      font-size: 48px;
      font-weight: 600;
    }
    .textbox05{
      margin-top: 40px;
      margin-bottom: 40px;
      margin-right: 40px;
      .context05{
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        margin-top: 24px;
        p{
          margin-bottom: 8px;
          font-size: 20px;
        }
        a{
          font-size: 16px;
          margin-top: 16px;
        }
      }
    }
    .logo01{
      margin-left: 40px;
      height: 280px;
      filter: drop-shadow(5px 5px 5px #99958E);
    }
  }
}


#section05 a {
  padding-top: 70px;
}

#home-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    margin: 4px;
    font-size: 16px;
    color: #22254C;
  }
}

#qkfhrkrl {
  color: #22254C;
}