html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
section {
  position: relative;
  width: 100%;
  height: 90vh;
}

.demo #scroll-a {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section01{
    position: relative;
    animation: fadeInUp 2s;

  .container01{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

    a{
      margin-bottom: 24px;
    }

    .textbox01{
      margin-right: 40px;
      .subtext01{
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 24px;
      }
      .maintext01{
        font-size: 64px;
        font-weight: 600;
        #blue-span{
          color: #6488E5;
        }
        #green-span{
          color: #90D28A;
        }
        #yellow-span{
          color: #F9BE7D;
        }
      }
    }
    .img01{
      margin-left: 40px;
      height: 400px;
    }
  }
}

#section01 a {
  padding-top: 60px;
  margin: auto;
}

#section02{
  .container02{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    .textbox02{
      margin-left: 40px;
      .subtext02{
        font-size: 32px;
        margin-bottom: 24px;
      }
      .maintext02{
        font-size: 48px;
        font-weight: 600;
      }
      .context02{
        margin-top: 24px;
        p{
          margin-bottom: 8px;
          font-size: 20px;
        }
        a{
          font-size: 16px;
          margin-top: 16px;
        }
      }
    }
    .img02{
      margin-right: 40px;
      height: 400px;
      filter: drop-shadow(5px 5px 5px #99958E);
    }
  }
}

#section03{
  .container03{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    .textbox03{
      margin-right: 40px;
      .subtext03{
        font-size: 32px;
        margin-bottom: 24px;
      }
      .maintext03{
        font-size: 48px;
        font-weight: 600;
      }
      .context03{
        margin-top: 24px;
        p{
          margin-bottom: 8px;
          font-size: 20px;
        }
        a{
          font-size: 16px;
          margin-top: 16px;
        }
      }
    }
    .img03{
      margin-left: 40px;
      height: 400px;
      filter: drop-shadow(5px 5px 5px #99958E);
    }
  }
}

#section04{
  .container04{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    .textbox04{
      margin-left: 40px;
      .subtext04{
        font-size: 32px;
        margin-bottom: 24px;
      }
      .maintext04{
        font-size: 48px;
        font-weight: 600;
      }
      .context04{
        margin-top: 24px;
        p{
          margin-bottom: 8px;
          font-size: 20px;
        }
        a{
          font-size: 16px;
          margin-top: 16px;
        }
      }
    }
    .img04{
      margin-right: 40px;
      height: 400px;
      filter: drop-shadow(5px 5px 5px #99958E);
    }
  }
}

#section05{
  .container05{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    .maintext05{
      font-size: 48px;
      font-weight: 600;
    }
    .textbox05{
      margin-top: 40px;
      margin-bottom: 40px;
      margin-right: 40px;
      .context05{
        line-height: 1.2;
        margin-top: 24px;
        p{
          margin-bottom: 8px;
          font-size: 20px;
        }
        a{
          font-size: 16px;
          margin-top: 16px;
        }
      }
    }
    .logo01{
      margin-left: 40px;
      height: 280px;
      filter: drop-shadow(5px 5px 5px #99958E);
    }
  }
  a {
    padding-top: 70px;
  }
}

#home-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    margin: 4px;
    font-size: 16px;
    color: #22254C;
  }
}

#navigating {
  color: #22254C;
}