$blue: #6488e5;

.drawerButton {
  width: 56px;
  height: 56px;
}

.drawerCloseDiv {
  display: inline-flex;
  justify-content: left;
}

.drawerCloseButton {
  justify-content: left;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0%;
  cursor: pointer;
}

.drawerColseArrow {
  color: #fff9ed;
}

.profileImage {
  width: 104px;
  height: 104px;
  margin: auto;
  margin-top: 32px;
  text-align: center;
}

.userNickname {
  font-size: large;
  font-weight: 600;
  margin: auto;
  margin-top: 24px;
  align-self: center;
  text-align: center;
  color: #fff9ed;
}

.logoutButton {
  font-size: large;
  font-weight: 600;
  margin: auto;
  margin-top: 24px;
  align-self: center;
  text-align: center;
  color: #fff9ed;
}

.myVocaButton {
  font-size: large;
  font-weight: 600;
  margin: auto;
  margin-top: 24px;
  align-self: center;
  text-align: center;
  color: #fff9ed;
}
