$blue: #6488e5;
$navy: #22254c;
$borderRadiusSize: 20px;
$animationTime: 2s;

.navBar {
  background-color: $blue;
  position: absolute;
  top: 0;
  left: 1000;
  width: 100%;
  z-index: -100;
  border-radius: 0 0 $borderRadiusSize $borderRadiusSize;
  // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all $animationTime;
  overflow: hidden;
}

// .profileCircle {
//   width: 56px;
//   height: 56px;
//   margin-left: 24px;
//   margin-right: 24px;
//   border-radius: 50%;
//   // background-color: #22254c;
//   // background: url({window.localStorage.getItem('picture')}) center 100%;
// }

.showSidebar{
  width: 320px;
  height: 500px;
  position: absolute;
  // right: 0px;
  top: 0;
  transition: 1s;
  }
  
.hideSidebar{
width: 320px;
height: 500px;
position: absolute;
// right: -320px;
// 여기 완성 후에 -320px로 변경할 것
transition: 1s;
}