.topCard {
  display: inline-block;
  background-color: white;
  text-align: center;
  text-decoration: none;

  border-radius: 12px;
  margin: 16px;
  padding: 16px;
  width: 30%;
  max-width: 248px;
  height: 96px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  font-size: 50px;
  font-weight: 700;
}
