.input_video {
  display: none;
  video {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
  }
}
.canvasBox {
  position: relative;
}
canvas {
  position: absolute;
  top: 240px;
  left: 0;
  transform: translate(-50%, -50%);
}
