$yellow: #f9be7d;

.resultScreen {
  position: relative;
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);

  border-radius: 40px;
  margin: 16px;
  padding: 16px;
  padding-top: 80px;
  width: calc(100% - 32px);
  max-width: 640px;
  height: 400px;
  border: none;
}

.compelete {
  position: absolute;
  background-color: #9ec395;
  display: inline-block;
  padding: 16px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 40px;
  font-weight: 700;
  color: white;
  border-radius: 10px;

  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resultImg {
  display: flex;
  justify-content: center;
  padding: 32px;
}
.resultTitle {
  margin-left: 40px;
  display: inline-block;
  font-size: 40px;
  line-height: 70px;
  font-weight: 600;
}
.resultText {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
  color: gray;
}

.exitButton {
  margin: 16px;
  background-color: $yellow;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 120px;
  height: 50px;
  border-radius: 15px;
  border: none;
  box-shadow: 3px 3px 3px #66666689, 4px 4px 4px rgba(87, 87, 87, 0.479);

  cursor: pointer;

  transition: all 0.5s;
}
.exitButton:active,
.exitButton:hover,
.exitButton:focus {
  background-color: $yellow;
  transition: all 0.5s;
  transform: translateY(-7px);
}
.exitButton:disabled {
  color: white;
  opacity: 0.5;
}

.resultImage {
  width: 70px;
  height: 70px;
}
