$blue: #6488e5;

.signUpTitle{
  margin-top: 76px;
  font-size: 40px;
  font-weight: 600;
}

.signUpInputEmail{
  display: block;
  margin:auto;
  margin-top: 56px;
  border:0;
  background-color: #FFF9ED;
  border-bottom: 2px solid #D1D1D6;
  color: #66645f;
  width: 360px;
  outline: none;
  display: flex;
  justify-content: center;
  font-size: medium;
}
.signUpInputEmail::placeholder{
  color: #D1D1D6;
}
.signUpInputNickname{
  display: block;
  margin:auto;
  margin-top: 28px;
  border:0;
  background-color: #FFF9ED;
  border-bottom: 2px solid #D1D1D6;
  color: #66645f;
  width: 360px;
  outline: none;
  display: flex;
  justify-content: center;
  font-size: medium;
}
.signUpInputNickname::placeholder{
  color: #D1D1D6;
}
.signUpInputPassword{
  display: block;
  margin:auto;
  margin-top: 28px;
  border:0;
  background-color: #FFF9ED;
  border-bottom: 2px solid #D1D1D6;
  color: #66645f;
  width: 360px;
  outline: none;
  display: flex;
  justify-content: center;
  font-size: medium;
}
.signUpInputPassword::placeholder{
  color: #D1D1D6;
}
.signUpInputPasswordCheck{
  display: flex;
  margin: auto;
  margin-top: 28px;
  border:0;
  background-color: #FFF9ED;
  border-bottom: 2px solid #D1D1D6;
  color: #66645f;
  width: 360px;
  outline: none;
  // justify-content: center;
  font-size: medium;
}
.signUpInputPasswordCheck::placeholder{
  color: #D1D1D6;
}
.formItem input:focus{
  border-bottom: 2px solid #66645f;
}

.errorMessage{
  color: #F16061;
  display: flex;  
  flex-direction: row;
  // position: relative;
  // margin-left: 24px;
}

.divDivde{
  display: flex;
  flex-direction: row;
}

.profileList{
  text-align: center;
  margin-top: 26px;
  // width: 72px;
}

.selected{
  border: 2px solid black;
}

.signupButton{
 display: block;
 margin:auto;
 margin-top: 38px;
 width: 120px;
 height: 36px;
 border-radius: 5px;
 font-size: 16px;
 font-weight: normal;
 color: white;
 border: none;
 background-color: $blue;
 border-radius: 8px;
 cursor: pointer;
}

