<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <!-- MediaPipe Library for Hand Detection -->
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- HTML Codes to Show Output -->
    <div class="container">
      <video class="input_video"></video>
      <canvas class="output_canvas" width="1280px" height="720px"></canvas>
    </div>
  </body>
</html>

<script type="text/javascript">
  const videoElement = document.getElementsByClassName("input_video")[0];
  const canvasElement = document.getElementsByClassName("output_canvas")[0];
  const canvasCtx = canvasElement.getContext("2d");

  /*
    Websocket Connect
  */
  let url = `ws://localhost:8000/ws/socket-server/1`;

  const handSocket = new WebSocket(url);

  handSocket.onmessage = function (e) {
    let data = JSON.parse(e.data);
    console.log("Data from server:", data);
  };

  function sendMessage(msg) {
    handSocket.send(
      JSON.stringify({
        message: msg,
      })
    );
  }

  /*
    MediaPipe Hands Detection - Callback, Configs
  */

  function onResults(results) {
    canvasCtx.save();
    canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);
    canvasCtx.drawImage(results.image, 0, 0, canvasElement.width, canvasElement.height);

    // Hand Detection
    if (results.multiHandLandmarks.length > 0) {
      // Select One Hand
      let oneHandLandMarks = results.multiHandLandmarks[0];
      // Send Data to Server for Prediction
      sendMessage(oneHandLandMarks);

      // (Optional) Draw Boundary of Hand
      if (oneHandLandMarks) {
        drawHandBoundary(oneHandLandMarks, canvasCtx, results.image);
      }

      // (Optional) Draw Connections and Connectors of Landmarks
      for (const landmarks of results.multiHandLandmarks) {
        drawConnectors(canvasCtx, landmarks, HAND_CONNECTIONS, { color: "#00FF00", lineWidth: 5 });
        drawLandmarks(canvasCtx, landmarks, { color: "#FF0000", lineWidth: 1 });
      }
    }
    canvasCtx.restore();
  }

  // Configs
  const hands = new Hands({
    locateFile: (file) => {
      return `https://cdn.jsdelivr.net/npm/@mediapipe/hands@0.4/${file}`;
    },
  });

  hands.setOptions({
    maxNumHands: 1,
    modelComplexity: 1,
    minDetectionConfidence: 0.5,
    minTrackingConfidence: 0.5,
  });

  hands.onResults(onResults);

  const camera = new Camera(videoElement, {
    onFrame: async () => {
      await hands.send({ image: videoElement });
    },
    width: 1280,
    height: 720,
  });
  camera.start();

  /*
    My Functions
  */

  function drawHandBoundary(oneHandLandMarks, canvasCtx, myImage) {
    let minX = 1;
    let minY = 1;
    let maxX = 0;
    let maxY = 0;
    for (var mark of oneHandLandMarks) {
      if (mark.x < minX) minX = mark.x;
      if (mark.y < minY) minY = mark.y;
      if (mark.x > maxX) maxX = mark.x;
      if (mark.y > maxY) maxY = mark.y;
    }
    let percentX = maxX - minX;
    let percentY = maxY - minY;
    let drawWidth = canvasElement.width * percentX;
    let drawHeight = canvasElement.height * percentY;

    let startX = minX * canvasElement.width;
    let startY = minY * canvasElement.height;

    canvasCtx.strokeRect(startX - 20, startY - 20, drawWidth + 40, drawHeight + 40);
  }
</script>
